[submodule "Arduboy-Python-Utilities"]
	path = Arduboy-Python-Utilities
	url = https://github.com/MrBlinky/Arduboy-Python-Utilities.git
[submodule "trackerEditor"]
	path = trackerEditor
	url = https://github.com/ModusCreateOrg/trackerEditor.git
