[submodule "Arduboy-Python-Utilities"]
	path = Arduboy-Python-Utilities
	url = https://github.com/MrBlinky/Arduboy-Python-Utilities.git
[submodule "ATMLib2_trackerEditor"]
	path = ATMLib2_trackerEditor
	url = git@github.com:FreezingSnail/ATMLib2_trackerEditor.git
[submodule "ATMlib2"]
	path = ATMlib2
	url = https://github.com/moduscreate/ATMlib2
